.hover-effect:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}

.hover-shadow:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
  transition: 0.3s;
}